<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <p>
    <input type="checkbox" id="<%= task.title %>" name="<%= task.title %>"
         <%= "checked" if task.completed %>>
    <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </p>

<% end %>

<%= link_to "New Task", new_task_path %>
