<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>
  <input type="checkbox" id="<%= @task.title %>" <%= "checked" if @task.completed %>>
  <label for="<%= @task.title %>"><%= @task.completed ? "This task is completed" : "This task is not yet completed" %></label>
</p>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back to list', tasks_path %>
